In [1]:
import psycopg2

In [2]:
try:
    conn = psycopg2.connect("host = 127.0.0.1 dbname = studentdb user = student password = student")
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the database")
    print(e)

conn.set_session(autocommit=True)

In [12]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library (album_id int, \
                                                           album_name varchar, artist_name varchar, \
                                                         year int, songs text[]);")
except psycopg2.Error as e:
    print("Error: Issue creating a table")
    print(e)

In [13]:
try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) VALUES (%s, %s, %s, %s, %s)",
                 (1, "Rubber Soul", "The Beatles", 1965, ["Michelle", "Think For Yourself", "In My Life"]))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)
    
try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) VALUES (%s, %s, %s, %s, %s)",
                 (2, "Let it Be", "The Beatles", 1970, ["Let it be", "Across the universe"]))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)
    
try:
    cur.execute("SELECT * FROM music_library;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Rubber Soul', 'The Beatles', 1965, ['Michelle', 'Think For Yourself', 'In My Life'])
(2, 'Let it Be', 'The Beatles', 1970, ['Let it be', 'Across the universe'])

In [17]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library (album_id int, \
                                                          album_name varchar, artist_id int, \
                                                          year int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library (artist_id int, artist_name varchar);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library (song_id int, album_id int, song_name varchar);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [18]:
try:
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_id, year) VALUES (%s, %s, %s, %s)",
                 (1, "Rubber Soul", "1", 1965))
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_id, year) VALUES (%s, %s, %s, %s)",
                 (2, "Let it Be", "1", 1970))  
    cur.execute("INSERT INTO artist_library (artist_id, artist_name) VALUES (%s, %s)",
                 (1, "The Beatles"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (1, 1, "Michelle"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (2, 1, "Think For Yourself"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (3, 1, "In My Life"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (4, 2, "Let it be"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (5, 2, "Across the universe"))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

In [22]:
print("Table: album_library\n")
try:
    cur.execute("SELECT * FROM album_library")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable: artist_library\n")
try:
    cur.execute("SELECT * FROM artist_library")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable: song_library\n")
try:
    cur.execute("SELECT * FROM song_library")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: album_library

(1, 'Rubber Soul', 1, 1965)
(2, 'Let it Be', 1, 1970)

Table: artist_library

(1, 'The Beatles')

Table: song_library

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let it be')
(5, 2, 'Across the universe')

In [25]:
print("Join all normalized tables to get single table\n")
try:
    cur.execute("SELECT * FROM (album_library JOIN artist_library on album_library.artist_id = artist_library.artist_id) \
                 JOIN song_library ON album_library.album_id = song_library.album_id;")
except psycopg2.Error as e:   
    print("Error: Issue select: *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Join all normalized tables to get single table

(1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 1, 1, 'Michelle')
(1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 2, 1, 'Think For Yourself')
(1, 'Rubber Soul', 1, 1965, 1, 'The Beatles', 3, 1, 'In My Life')
(2, 'Let it Be', 1, 1970, 1, 'The Beatles', 4, 2, 'Let it be')
(2, 'Let it Be', 1, 1970, 1, 'The Beatles', 5, 2, 'Across the universe')

In [26]:
try:
    cur.execute("DROP TABLE album_library")
except psycopg2.Error as e:
    print("Error: Dropping table")
    print(e)   
    
try:
    cur.execute("DROP TABLE artist_library")
except psycopg2.Error as e:
    print("Error: Dropping table")
    print(e)   
    
try:
    cur.execute("DROP TABLE song_library")
except psycopg2.Error as e:
    print("Error: Dropping table")
    print(e)

In [ ]:
cur.close()
conn.close()