In [1]:
import psycopg2

In [2]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)
conn.set_session(autocommit=True)

In [3]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library (album_id int, \
                                                          album_name varchar, artist_id int, \
                                                          year int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library (artist_id int, artist_name varchar);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library (song_id int, album_id int, song_name varchar);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)  
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_length (song_id int, song_length int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [4]:
try:
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_id, year) VALUES (%s, %s, %s, %s)",
                 (1, "Rubber Soul", "1", 1965))
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_id, year) VALUES (%s, %s, %s, %s)",
                 (2, "Let it Be", "1", 1970))  
    cur.execute("INSERT INTO artist_library (artist_id, artist_name) VALUES (%s, %s)",
                 (1, "The Beatles"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (1, 1, "Michelle"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (2, 1, "Think For Yourself"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (3, 1, "In My Life"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (4, 2, "Let it be"))
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) VALUES (%s, %s, %s)",
                 (5, 2, "Across the universe"))
    cur.execute("INSERT INTO song_length (song_id, song_length) VALUES (%s, %s)",
                 (1, 163))
    cur.execute("INSERT INTO song_length (song_id, song_length) VALUES (%s, %s)",
                 (2, 137))
    cur.execute("INSERT INTO song_length (song_id, song_length) VALUES (%s, %s)",
                 (3, 145))
    cur.execute("INSERT INTO song_length (song_id, song_length) VALUES (%s, %s)",
                 (4, 240))
    cur.execute("INSERT INTO song_length (song_id, song_length) VALUES (%s, %s)",
                 (5, 227))
    
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

In [5]:
print("Table: album_library\n")
try:
    cur.execute("SELECT * FROM album_library")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable: artist_library\n")
try:
    cur.execute("SELECT * FROM artist_library")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable: song_library\n")
try:
    cur.execute("SELECT * FROM song_library")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()
    
print("\nTable: song_length\n")
try:
    cur.execute("SELECT * FROM song_length")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: album_library

(1, 'Rubber Soul', 1, 1965)
(2, 'Let it Be', 1, 1970)

Table: artist_library

(1, 'The Beatles')

Table: song_library

(1, 1, 'Michelle')
(2, 1, 'Think For Yourself')
(3, 1, 'In My Life')
(4, 2, 'Let it be')
(5, 2, 'Across the universe')

Table: song_length

(1, 163)
(2, 137)
(3, 145)
(4, 240)
(5, 227)

In [12]:
print("\nQuery to get all the data from all 4 tables\n")
try:
    cur.execute("SELECT artist_library.artist_id, artist_name, album_library.album_id, album_name, year, \
                        song_library.song_id, song_name, song_length \
                 FROM ((artist_library JOIN album_library ON artist_library.artist_id = album_library.artist_id) \
                        JOIN song_library ON album_library.album_id = song_library.album_id) \
                        JOIN song_length ON song_library.song_id = song_length.song_id;")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Query to get all the data from all 4 tables

(1, 'The Beatles', 1, 'Rubber Soul', 1965, 1, 'Michelle', 163)
(1, 'The Beatles', 1, 'Rubber Soul', 1965, 2, 'Think For Yourself', 137)
(1, 'The Beatles', 1, 'Rubber Soul', 1965, 3, 'In My Life', 145)
(1, 'The Beatles', 2, 'Let it Be', 1970, 4, 'Let it be', 240)
(1, 'The Beatles', 2, 'Let it Be', 1970, 5, 'Across the universe', 227)

In [ ]:
# I want a list of all my songs
# Query 1: select artist_name, album_name, year, song_name, song_length FROM <min number of tables>

# I want to know the length of each album in seconds
# Query 2: select album_name, SUM(song_length) FROM <min number of tables> GROUP BY album_name

In [15]:
# I want a list of all my songs
# Query 1: select artist_name, album_name, year, song_name, song_length FROM <min number of tables>

# Create all tables
try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library1 (album_id int, \
                                                            album_name varchar, artist_name varchar, year int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library1 (song_id int, \
                                                          album_id int, song_name varchar, song_length int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)
    
# Insert into all tables
try:
    cur.execute("INSERT INTO album_library1 (album_id, album_name, artist_name, year) VALUES (%s, %s, %s, %s)",
                 (1, "Rubber Soul", "The Beatles", 1965))
    cur.execute("INSERT INTO album_library1 (album_id, album_name, artist_name, year) VALUES (%s, %s, %s, %s)",
                 (2, "Let It Be", "The Beatles", 1970))
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) VALUES (%s, %s, %s, %s)",
                 (1, 1, "Michelle", 163))
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) VALUES (%s, %s, %s, %s)",
                 (2, 1, "Think For Yourself", 137))
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) VALUES (%s, %s, %s, %s)",
                 (3, 1, "In my life", 145))
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) VALUES (%s, %s, %s, %s)",
                 (4, 2, "Let It Be", 240))
    cur.execute("INSERT INTO song_library1 (song_id, album_id, song_name, song_length) VALUES (%s, %s, %s, %s)",
                 (5, 2, "Across The Universe", 227))
except psycopg2.Error as e:
    print("Error: Inserting data into table")
    print(e)

In [16]:
print("Table: album_library1\n")
try:
    cur.execute("SELECT * FROM album_library1")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

print("\nTable: song_library1\n")
try:
    cur.execute("SELECT * FROM song_library1")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Table: album_library1

(1, 'Rubber Soul', 'The Beatles', 1965)
(2, 'Let It Be', 'The Beatles', 1970)

Table: song_library1

(1, 1, 'Michelle', 163)
(2, 1, 'Think For Yourself', 137)
(3, 1, 'In my life', 145)
(4, 2, 'Let It Be', 240)
(5, 2, 'Across The Universe', 227)

In [19]:
print("\nI want a list of all my songs")
print("# Query 1: select artist_name, album_name, year, song_name, song_length FROM <min number of tables>\n")

try:
    cur.execute("SELECT artist_name, album_name, year, song_name, song_length \
                 FROM album_library1 JOIN song_library1 ON album_library1.album_id = song_library1.album_id;")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

I want a list of all my songs
# Query 1: select artist_name, album_name, year, song_name, song_length FROM <min number of tables>

('The Beatles', 'Rubber Soul', 1965, 'Michelle', 163)
('The Beatles', 'Rubber Soul', 1965, 'Think For Yourself', 137)
('The Beatles', 'Rubber Soul', 1965, 'In my life', 145)
('The Beatles', 'Let It Be', 1970, 'Let It Be', 240)
('The Beatles', 'Let It Be', 1970, 'Across The Universe', 227)

In [20]:
# I want to know the length of each album in seconds
# Query 2: select album_name, SUM(song_length) FROM <min number of tables> GROUP BY album_name

try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_length (song_id int, \
                                                          album_name varchar, song_length int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

In [21]:
# Insert into all tables
try:
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)",
                 (1, "Rubber Soul", 163))
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)",
                 (2, "Rubber Soul", 137))
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)",
                 (3, "Rubber Soul", 145))
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)",
                 (4, "Let It Be", 240))
    cur.execute("INSERT INTO album_length (song_id, album_name, song_length) VALUES (%s, %s, %s)",
                 (5, "Let It Be", 227))
except psycopg2.Error as e:
    print("Error: Inserting data into table")
    print(e)

In [22]:
print("\nI want to know the length of each album in seconds")
print("Query 2: select album_name, SUM(song_length) FROM <min number of tables> GROUP BY album_name\n")

try:
    cur.execute("SELECT album_name, SUM(song_length) FROM album_length GROUP BY album_name;")
except psycopg2.Error as e:
    print("Error: Issue select *")
    print(e)   
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

I want to know the length of each album in seconds
Query 2: select album_name, SUM(song_length) FROM <min number of tables> GROUP BY album_name

('Rubber Soul', 445)
('Let It Be', 467)